$orange: #f75311;
$darkBlue: #374249;
$darkSeetrough: rgba(55, 66, 73, .6);
$fontColor: #797979;
$headingsColor: #374249;
$hoverColor: #cfd1d3;
$sectionColor: #f3f7f9;

$fontMain: 'Roboto', sans-serif;